.list-group-item:last-child
{
    margin-bottom: 0px;
}

#hereBeDragons
{
    margin: 5%;
    margin-top:0px;
}

.listContainer .panel-body {
    display: none;

}

.input-group {
    margin:2px;
}

.list-group
{
    margin-bottom: 0;
}

.panel
{
    margin-bottom: 0;
}

.glyphicon-remove
{
    float: right;
    cursor: pointer;
    color: #b31714;
    font-size: 1.2em;
}

.alertDiv
{
    display: none;
}

#successDiv
{
    display: none;
}

#addNewButton
{
    float:right;
    height: 2.8em;
    margin-left: 0.5em;
}

.duplicateButton
{
    float: right;
    cursor: pointer;
    height: 1.2em;
    margin-right: 0.7em;
    margin-left: 0.7em;
}

#searchDiv
{
    margin-bottom: 1em;
}

/*---------------------------------Banner*/

#bannerImg
{
    margin-left: 5%;
}

#bannerText
{
    position: absolute;
    font-size: 3.5em;
    display: inline;
    padding-top: 0.5em;
    padding-left: 0.5em;

}